In [3]:
from sklearn.preprocessing import MinMaxScaler
import pandas as pd
import numpy as np

In [4]:
#membaca data dari file csv menggunakan Pandas
dt = pd.read_csv('milkquality.csv')
dt

       pH  Temprature  Taste  Odor  Fat   Turbidity  Colour   Grade
0     6.6          35      1     0     1          0     254    high
1     6.6          36      0     1     0          1     253    high
2     8.5          70      1     1     1          1     246     low
3     9.5          34      1     1     0          1     255     low
4     6.6          37      0     0     0          0     255  medium
...   ...         ...    ...   ...   ...        ...     ...     ...
1054  6.7          45      1     1     0          0     247  medium
1055  6.7          38      1     0     1          0     255    high
1056  3.0          40      1     1     1          1     255     low
1057  6.8          43      1     0     1          0     250    high
1058  8.6          55      0     1     1          1     255     low

[1059 rows x 8 columns]

In [6]:
minmax=['pH','Temprature','Colour']
scaler_minmax=MinMaxScaler()
dt[minmax]=scaler_minmax.fit_transform(dt[minmax])
dt

            pH  Temprature  Taste  Odor  Fat   Turbidity    Colour   Grade
0     0.553846    0.017857      1     0     1          0  0.933333    high
1     0.553846    0.035714      0     1     0          1  0.866667    high
2     0.846154    0.642857      1     1     1          1  0.400000     low
3     1.000000    0.000000      1     1     0          1  1.000000     low
4     0.553846    0.053571      0     0     0          0  1.000000  medium
...        ...         ...    ...   ...   ...        ...       ...     ...
1054  0.569231    0.196429      1     1     0          0  0.466667  medium
1055  0.569231    0.071429      1     0     1          0  1.000000    high
1056  0.000000    0.107143      1     1     1          1  1.000000     low
1057  0.584615    0.160714      1     0     1          0  0.666667    high
1058  0.861538    0.375000      0     1     1          1  1.000000     low

[1059 rows x 8 columns]

In [8]:
dt.to_csv('milkquality_minmax.csv')

In [10]:
dt2=pd.read_csv('milkquality_minmax.csv')
dt2

,Unnamed: 0,pH,Temprature,Taste,Odor,Fat,Turbidity,Colour,Grade
0,0,0.553846,0.017857,1,0,1,0,0.933333,high
1,1,0.553846,0.035714,0,1,0,1,0.866667,high
2,2,0.846154,0.642857,1,1,1,1,0.400000,low
3,3,1.000000,0.000000,1,1,0,1,1.000000,low
4,4,0.553846,0.053571,0,0,0,0,1.000000,medium
...,...,...,...,...,...,...,...,...,...
1054,1054,0.569231,0.196429,1,1,0,0,0.466667,medium
1055,1055,0.569231,0.071429,1,0,1,0,1.000000,high
1056,1056,0.000000,0.107143,1,1,1,1,1.000000,low
1057,1057,0.584615,0.160714,1,0,1,0,0.666667,high
1058,1058,0.861538,0.375000,0,1,1,1,1.000000,low

In [11]:
dt2.columns

Index(['Unnamed: 0', 'pH', 'Temprature', 'Taste', 'Odor', 'Fat ', 'Turbidity',
       'Colour', 'Grade'],
      dtype='object')

In [12]:
dt3=dt2.drop(['Unnamed: 0'],axis=1)
dt3

            pH  Temprature  Taste  Odor  Fat   Turbidity    Colour   Grade
0     0.553846    0.017857      1     0     1          0  0.933333    high
1     0.553846    0.035714      0     1     0          1  0.866667    high
2     0.846154    0.642857      1     1     1          1  0.400000     low
3     1.000000    0.000000      1     1     0          1  1.000000     low
4     0.553846    0.053571      0     0     0          0  1.000000  medium
...        ...         ...    ...   ...   ...        ...       ...     ...
1054  0.569231    0.196429      1     1     0          0  0.466667  medium
1055  0.569231    0.071429      1     0     1          0  1.000000    high
1056  0.000000    0.107143      1     1     1          1  1.000000     low
1057  0.584615    0.160714      1     0     1          0  0.666667    high
1058  0.861538    0.375000      0     1     1          1  1.000000     low

[1059 rows x 8 columns]

In [13]:
dt3.to_csv('milkquality_minmax.csv', index=False)

In [14]:
data=pd.read_csv('milkquality_minmax.csv')
data

            pH  Temprature  Taste  Odor  Fat   Turbidity    Colour   Grade
0     0.553846    0.017857      1     0     1          0  0.933333    high
1     0.553846    0.035714      0     1     0          1  0.866667    high
2     0.846154    0.642857      1     1     1          1  0.400000     low
3     1.000000    0.000000      1     1     0          1  1.000000     low
4     0.553846    0.053571      0     0     0          0  1.000000  medium
...        ...         ...    ...   ...   ...        ...       ...     ...
1054  0.569231    0.196429      1     1     0          0  0.466667  medium
1055  0.569231    0.071429      1     0     1          0  1.000000    high
1056  0.000000    0.107143      1     1     1          1  1.000000     low
1057  0.584615    0.160714      1     0     1          0  0.666667    high
1058  0.861538    0.375000      0     1     1          1  1.000000     low

[1059 rows x 8 columns]